# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. Matplotlib
4. Seaborn
5. TensorFlow

| Data Science Tools |
|--------------------|
| JupterLab          |
| Apache Zeppelin    |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- Show open-source development environment tools
- Show how to perform an arithhmetic operation
- Show popular libraries used by Data Scientists

## Author:
Pedro Andrade